<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/fragment :: head">
        <title id="pageTitle">View All Students</title>
    </head>
    <body>
        <h1>All Students</h1>
     
  <table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
    		<tr>
    			<th>No</th>
    			<th>NPM</th>
    			<th>Name</th>
    			<th>GPA</th>
    			<th>Predikat</th>
    			<th>Aksi</th>
    		</tr>
    </thead>
    	<tr th:each="students,iterationStatus: ${students}">
    		
    		<td><a th:text="'No. ' + ${iterationStatus.count}">No. 1</a></td>
    		<td><a th:text="'NPM = ' + ${students.npm}">Student NPM</a></td>
    		<td><a th:text="'Name = ' + ${students.name}">Student Name></a></td>
    		<td><a th:text="'GPA = ' + ${students.gpa}">Student GPA</a></td>
    		<td><a th:text="${students.gpa>=3.49} ? 'Cum Laude' : 'Sangat Memuaskan'">Predikat</a></td>
    		
    		<!--  <td><h3 th:if="${student.gpa>=3.49}">Cum Laude!</h3>
    		<h3 th:unless="${student.gpa<=3.49}">Sangat!</h3></td>-->

    		<td><a th:href="'/student/delete/' + ${students.npm}"> Delete Data</a> | <a th:href="'/student/update/' + ${students.npm}">Update Data</a></td>
       	</tr>
      </table>
    </body>
    
    <script>
    		$(document).ready(function() {
        		$('#example').DataTable();
    		});
    </script>
</html>
